:root {
  --solana-green: #00FFA3;
  --solana-blue: #03e1ff;
  --solana-purle:  #DC1FFF;
}

.course-box {
  background-color:  whitesmoke;
  height: 6rem;
  margin: 10px;
  font-size: 3rem;
  color: black;
  text-align: center;
  border: 5px solid black;
  border-radius: 1.5rem;
  cursor: pointer;
}

.course-text {
  position: relative;
  bottom: 1.4rem;
}

.course-box:hover {
  border: 5px solid var(--solana-purle);
  color: var(--solana-purle);
}

.completed {
  border: 5px solid  var(--solana-green);
  color: var(--solana-green);
}


